@import url('https://fonts.googleapis.com/css?family=Lora|Megrim');

*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Lora', serif;
	font-size: 15px;
	color:#303030;
	line-height: 1.3
}

header {
	padding: 0 200px;
}

a {
	color: #606060;
	text-decoration: none;
}

nav {
	text-align: center;
}

main img {
	max-width: 100%;
	height: auto;
}

section {
	padding: 10px;
}

h1 {
	font-family: 'Megrim', cursive;
	font-weight: normal;
	font-size: 60px;
	text-align: center;
	margin: auto;
}

footer {
	clear: both;
	text-align: center;
	padding: 1em;
	background-color: #eeeeee;
}

.navlinks {
	font-size: 20px;
	padding: 2em;
}

[class*="col-"] {
	float: left;
	padding: 15px;
}

.col-1 img {
	width: 100%;
	height: auto;
}

.col-1 {
	width: 33%;
}

.col-2 img {
	width: 100%;
	height: auto;
}

.col-2 {
	width: 33%;
}

.col-3 img {
	width: 100%;
	height: auto;
}

.col-3 {
	width: 33%;
}
